.box{
    margin: 122px -361px;
    height: 425px;
}
.right input{
    font-size: 1.3rem;
    height: 40px;

}
.head p{
    padding:14px;
    margin: 39px;
}
.left img{
    height: 200px;
}